{% extends "basic_layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-lg-4">
           <div class="well">
                <div class="card">
                    <img src="/static/images/IMG-20180708-WA0056.jpg" class="card-img-top img-responsive img-rounded">
                    <div class="card-body">
                        <h5 class="card-title">Paige Turner</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Freelance Developer <i class="fab fa-python"></i> <i class="fab fa-html5"></i> <i class="fab fa-css3"></i> </h6>
                        <p class="card-text">"Intelligence is the ability to adapt to change." Stephen Hawking</p>
                    </div>

                    <div class="card-body">
                        <a href="#" class="card-link"><i class="fab fa-github"></i> github.com</a>
                        <a href="#" class="card-link"><i class="fab fa-codepen"></i> codepen.io</a>
                    </div>
                </div>
           </div>
       </div>
       <div class="col-lg-8">
           <div class="well">
               <h1>About me</h1>
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
               <h1>Languages & Tools</h1>
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
               <h1>The Design Process</h1>
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
               <h1>Services</h1>
               <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
           </div>
       </div>
    </div>
</div>
{% endblock content %}