{% extends "basic_layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-4"><sup>3007</sup> Web Development</h1>
      <p class="lead">Just a basic portfolio page focusing on Web Development and UX Design.</p>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">More</a>
    </div>
</div>
{% endblock content %}